@import url('https://fonts.googleapis.com/css?family=Catamaran|Quicksand');


/* styling */

body {
    background: pink;
}

h1 {
    color: blue;
    font-size: 4em;
    font-family: 'Quicksand', sans-serif;
}

p {
    font-family: 'Catamaran', sans-serif;
}

/* Layout */

.page {
display: flex;
}

header,
section,
main,
article,
aside,
footer {
    flex: 1;
}

// Overriding default styling

.mejs__time-rail {
    
}